$breadcrumb-item-font-size:                          0.875rem;
$breadcrumb-item-color:                              rgba(44,45,48, 0.9);
$breadcrumb-item-hover-color:                        $global-color;
$breadcrumb-item-hover-text-decoration:              none;
$breadcrumb-item-active-color:                       rgba(255,255,255, 0.9);

$breadcrumb-divider:                                 "/";
$breadcrumb-divider-margin-horizontal:               20px;
$breadcrumb-divider-font-size:                       0.75rem;
$breadcrumb-divider-color:                           $breadcrumb-item-color;