<!-- section content begin -->
<div class="uk-section uk-section-primary uk-preserve-color uk-background-contain uk-background-center in-equity-15" data-src="img/in-equity-15-bg.png" data-uk-img>
    <div class="uk-container uk-margin-top uk-margin-medium-bottom">
        <div class="uk-grid">
            <div class="uk-width-3-5@m">
                <h1 class="uk-margin-small-bottom">Security of Client's Funds</h1>
                <p class="uk-text-lead uk-margin-remove-top">Your funds are fully secured when you trade with Equity.</p>
                <div class="uk-grid-large uk-child-width-1-2@m uk-child-width-1-2@s uk-margin-medium-top uk-margin-medium-bottom" data-uk-grid>
                    <div>
                        <div class="uk-flex uk-flex-middle">
                            <div class="uk-margin-right">
                                <img src="img/in-lazy.gif" data-src="img/in-equity-15-icon-1.svg" alt="icon-1" width="96" height="96" data-uk-img>
                            </div>
                            <div>
                                <p class="uk-margin-remove">Regulated activities: ASIC license No. 000123/456</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="uk-flex uk-flex-middle">
                            <div class="uk-margin-right">
                                <img src="img/in-lazy.gif" data-src="img/in-equity-15-icon-2.svg" alt="icon-2" width="96" height="96" data-uk-img>
                            </div>
                            <div>
                                <p class="uk-margin-remove">Negative balance client protection policy</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="uk-flex uk-flex-middle in-offset-top-20">
                            <div class="uk-margin-right">
                                <img src="img/in-lazy.gif" data-src="img/in-equity-15-icon-3.svg" alt="icon-3" width="96" height="96" data-uk-img>
                            </div>
                            <div>
                                <p class="uk-margin-remove">Participant of The Financial Commission fund</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="uk-flex uk-flex-middle in-offset-top-20">
                            <div class="uk-margin-right">
                                <img src="img/in-lazy.gif" data-src="img/in-equity-15-icon-4.svg" alt="icon-4" width="96" height="96" data-uk-img>
                            </div>
                            <div>
                                <p class="uk-margin-remove">Execution quality certificate of Verify My Trade</p>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="uk-flex uk-flex-left uk-flex-middle get-started">
                    <h5 class="uk-margin-remove">Ready to get started?</h5>
                    <a href="#" class="uk-button uk-button-primary uk-border-rounded uk-margin-left">Open demo account<i class="fas fa-arrow-circle-right uk-margin-small-left"></i></a>
                    <a href="#" class="uk-button uk-button-secondary uk-border-rounded uk-margin-left">Open live account<i class="fas fa-arrow-circle-right uk-margin-small-left"></i></a>
                </div>
            </div>
        </div>
        
    </div>
</div>
<!-- section content end -->