// theme colors
$primary: #FCB42D;
$secondary: #252526;
$success: #3BD297;
$info: #1980EC;
$warning: #F2C643;
$danger: #EE4F6F;
$light: #F8F8F8;
$dark: #333333;
$background: #F5F9F9;
$body: #707070;
$link: #1E87F0;