<!-- section content begin -->
<div class="uk-section in-equity-17">
    <div class="uk-container uk-margin-top uk-margin-medium-bottom">
        <div class="uk-grid uk-flex uk-flex-center">
            <div class="uk-width-3-5@m uk-text-center">
                <h1 class="uk-margin-remove">Choose your <span class="in-highlight">account</span> type</h1>
                <p class="uk-text-lead uk-text-muted uk-margin-small-top">Simply select your preferred account type in our application form.</p>
            </div>
            <div class="uk-width-3-4@m uk-margin-medium-top">
                <div class="uk-grid-collapse uk-child-width-1-2@m in-equity-pricing" data-uk-grid>
                    <div>
                        <div class="uk-card uk-card-default uk-card-body uk-box-shadow-medium">
                            <p class="uk-text-small uk-text-muted uk-text-uppercase">Minimum funding<span class="uk-label uk-margin-small-left in-label-small">USD 200</span></p>
                            <h2 class="uk-margin-top uk-margin-remove-bottom">Classic account</h2>
                            <p class="uk-text-lead uk-text-muted uk-margin-remove-top">Benefit from industry-leading entry prices</p>
                            <hr>
                            <ul class="uk-list in-list-check">
                                <li>One of the established industry leaders</li>
                                <li>Three decades of trading know-how</li>
                                <li>Award-winning customer service*</li>
                                <li>Highly-regarded trader education*</li>
                                <li>Advanced risk management</li>
                                <li>Tax-free spread betting profits</li>
                                <li>Low minimum deposit</li>
                            </ul>
                            <a href="#" class="uk-button uk-button-default uk-border-rounded uk-align-center">Open an account<i class="fas fa-arrow-circle-right uk-margin-small-left"></i></a>
                        </div>
                    </div>
                    <div>
                        <div class="uk-card uk-card-default uk-card-body uk-box-shadow-large">
                            <p class="uk-text-small uk-text-muted uk-text-uppercase">Minimum funding<span class="uk-label uk-margin-small-left in-label-small">USD 500</span></p>
                            <h2 class="uk-margin-top uk-margin-remove-bottom">Platinum account</h2>
                            <p class="uk-text-lead uk-text-muted uk-margin-remove-top">Receive even tighter spreads and commissions</p>
                            <hr>
                            <ul class="uk-list in-list-check">
                                <li>Award-winning trading platform*</li>
                                <li>Wide range of charting tools</li>
                                <li>Fast, automated excecution</li>
                                <li>Expert news & analysis</li>
                                <li>Competitive spreads</li>
                                <li>Advanced trading tools</li>
                                <li>Tax-free spread betting profits</li>
                            </ul>
                            <a href="#" class="uk-button uk-button-primary uk-border-rounded uk-align-center">Open an account<i class="fas fa-arrow-circle-right uk-margin-small-left"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- section content end -->