<!-- section content begin -->
<div class="uk-section uk-section-primary uk-preserve-color in-equity-1">
    <div class="uk-container">
        <div class="uk-grid">
            <div class="uk-width-1-1">
                <h4>Popular products</h4>
            </div>
        </div>
        <div class="uk-grid-match uk-grid-medium uk-child-width-1-4@m uk-child-width-1-2@s uk-margin-bottom" data-uk-grid>
            <div>
                <div class="uk-card uk-card-body uk-card-default uk-border-rounded">
                    <div class="uk-flex uk-flex-middle">
                        <span class="in-product-name red">EQ</span>
                        <h5 class="uk-margin-remove">Stocks</h5>
                    </div>
                    <p>Access 19,000+ stocks across core and emerging markets on 40+ exchanges worldwide.</p>
                    <a href="#" class="uk-button uk-button-text uk-float-right uk-position-bottom-right">Explore<i class="fas fa-arrow-circle-right uk-margin-small-left"></i></a>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-body uk-card-default uk-border-rounded">
                    <div class="uk-flex uk-flex-middle">
                        <span class="in-product-name green">LQ</span>
                        <h5 class="uk-margin-remove">Listed Options</h5>
                    </div>
                    <p>Access 1,200+ listed options across equities, indices, interest rates, energy, metals and more.</p>
                    <a href="#" class="uk-button uk-button-text uk-float-right uk-position-bottom-right">Explore<i class="fas fa-arrow-circle-right uk-margin-small-left"></i></a>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-body uk-card-default uk-border-rounded">
                    <div class="uk-flex uk-flex-middle">
                        <span class="in-product-name blue">FU</span>
                        <h5 class="uk-margin-remove">Futures</h5>
                    </div>
                    <p>Access 300+ futures covering equity indices, energy, metals, agriculture, rates and more.</p>
                    <a href="#" class="uk-button uk-button-text uk-float-right uk-position-bottom-right">Explore<i class="fas fa-arrow-circle-right uk-margin-small-left"></i></a>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-body uk-card-default uk-border-rounded">
                    <div class="uk-flex uk-flex-middle">
                        <span class="in-product-name"><i class="fas fa-ellipsis-h fa-xs"></i></span>
                        <h5 class="uk-margin-remove">More products</h5>
                    </div>
                    <p>Explore the full range of cash and leveraged products</p>
                    <a href="#" class="uk-button uk-button-text uk-float-right uk-position-bottom-right">Explore<i class="fas fa-arrow-circle-right uk-margin-small-left"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- section content end -->