<!-- section content begin -->
<div class="uk-section in-equity-16">
    <div class="uk-container uk-margin-top uk-margin-large-bottom">
        <div class="uk-grid uk-flex uk-flex-center in-offset-bottom-20">
            <div class="uk-width-5-6@m uk-text-center">
                <h1 class="uk-margin-remove"><span class="in-highlight">Learn</span> to trade at Equity</h1>
                <p class="uk-text-lead uk-text-muted uk-margin-small-top">Learn how the markets work with our free education tools.</p>
                <div class="uk-grid-medium uk-child-width-1-4@m uk-child-width-1-2@s uk-margin-large-top uk-margin-medium-bottom" data-uk-grid>
                    <div>
                        <a href="#" class="uk-card uk-card-default uk-card-body">
                            <i class="fas fa-clipboard-list uk-margin-small-right"></i>
                            <h5>Trader's glossary</h5>
                            <p class="uk-text-small uk-text-muted">A-Z trading terms</p>
                        </a>
                    </div>
                    <div>
                        <a href="#" class="uk-card uk-card-default uk-card-body">
                            <i class="fas fa-video uk-margin-small-right"></i>
                            <h5>Tutorial videos</h5>
                            <p class="uk-text-small uk-text-muted">Free learning courses</p>
                        </a>
                    </div>
                    <div>
                        <a href="#" class="uk-card uk-card-default uk-card-body">
                            <i class="fas fa-file-pdf uk-margin-small-right"></i>
                            <h5>E-Book products</h5>
                            <p class="uk-text-small uk-text-muted">Build your own strategies</p>
                        </a>
                    </div>
                    <div>
                        <a href="#" class="uk-card uk-card-default uk-card-body">
                            <i class="fas fa-microphone-alt uk-margin-small-right"></i>
                            <h5>Live commentary</h5>
                            <p class="uk-text-small uk-text-muted">Trade on the news</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="uk-grid uk-grid-large uk-flex uk-flex-middle" data-uk-grid>
            <div class="uk-width-3-5@m">
                <div class="in-equity-video">
                    <img class="uk-border-rounded uk-width-1-1" src="img/in-lazy.gif" data-src="img/in-equity-16-image.jpg" alt="sample-images" width="533" height="355" data-uk-img>
                    <div class="uk-position-center" data-uk-lightbox="video-autoplay: true;">
                        <a href="https://www.youtube.com/watch?v=F3QpgXBtDeo" data-attrs="width: 920; height: 517;">
                            <div class="in-play-button"></div>
                            <i class="fas fa-play"></i>
                        </a>
                    </div>
                    <div class="uk-flex-top" data-uk-modal>
                        <div class="uk-modal-dialog uk-width-auto uk-margin-auto-vertical in-iframe">
                            <button class="uk-modal-close-outside" type="button" data-uk-close></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="uk-width-expand@m">
                <h3>What you will learn</h3>
                <ul class="uk-list in-list-check">
                    <li>Introduction to Financial Trading</li>
                    <li>Technical Analysis</li>
                    <li>Fundamental Analysis</li>
                    <li>When to Enter & Exit Trades</li>
                    <li>How to Manage Risk</li>
                    <li>Trading Psychology</li>
                </ul>
                <a class="uk-button uk-button-secondary uk-border-rounded uk-margin-small-top" href="#">Open demo account<i class="fas fa-arrow-circle-right uk-margin-small-left"></i></a>
            </div>
        </div>
    </div>
</div>
<!-- section content end -->