<!-- section content begin -->
<div class="uk-section uk-padding-remove-vertical in-equity-10">
    <div class="uk-container">
        <div class="uk-grid" data-uk-grid>
            <div class="uk-width-1-1">
                <div class="uk-card uk-card-default uk-card-body uk-border-rounded">
                    <div class="uk-grid-divider" data-uk-grid>
                        <div class="uk-width-auto@m uk-flex uk-flex-middle uk-flex-center@s">
                            <h4>We are in the press</h4>
                        </div>
                        <div class="uk-width-expand@m">
                            <div class="uk-grid-medium uk-child-width-1-5@m uk-child-width-1-2@s uk-text-center in-client-logo-3" data-uk-grid>
                                <div class="uk-tile uk-tile-default">
                                    <img class="uk-margin-remove" src="img/in-equity-press-1.svg" alt="equity-press" width="170" height="68">
                                </div>
                                <div class="uk-tile uk-tile-default">
                                    <img class="uk-margin-remove" src="img/in-equity-press-2.svg" alt="equity-press" width="170" height="68">
                                </div>
                                <div class="uk-tile uk-tile-default">
                                    <img class="uk-margin-remove" src="img/in-equity-press-3.svg" alt="equity-press" width="170" height="68">
                                </div>
                                <div class="uk-tile uk-tile-default">
                                    <img class="uk-margin-remove" src="img/in-equity-press-4.svg" alt="equity-press" width="170" height="68">
                                </div>
                                <div class="uk-tile uk-tile-default uk-visible@m">
                                    <img class="uk-margin-remove" src="img/in-equity-press-5.svg" alt="equity-press" width="170" height="68">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- section content end -->